* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: url("sunflower.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;
}

.section-title {
    color: rgb(127, 10, 143);
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

/* h1 {
    font-family: sans-serif;
} */

.main-header {
    width: 100%;
    background: rgb(127, 10, 143);
    padding: 10px;
    /* display: ; */
}

.main-div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color:rgb(48, 4, 54);
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 231px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin:  0 16px;
}

.main-nav-item__link {
    color: rgb(48, 4, 54);
    text-decoration: none;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 2px solid white;
}

.main-nav__item--cta a {
    color: white;
    background: rgb(48, 4, 54);
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:hover {
    color: rgb(48, 4, 54);
    background: white;
    border: none;
}
