* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: url("sunflower.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;
}

.section-title {
    color: rgb(127, 10, 143);
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.plan {
    background: rgb(201, 162, 206);
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    border-radius: 8px;
}

.plan--highlighted {
    background: rgb(178, 68, 192);
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, .5);
}

.plan__fun {
    background: white;
    color: rgb(178, 68, 192);
    padding: 8px;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, .5);
    border-radius: 5px;
}

.plan__title {
    color: rgb(48, 4, 54);
}

.plan__desc {
    color: rgb(126, 126, 126);
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__desc {
    color: rgb(48, 4, 54);
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    padding: 4px 0;
}

.button {
    background:rgb(48, 4, 54);
    color: white;
    font: inherit;
    border: 1px solid rgb(48, 4, 54);
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover,
.button:active {
    color:rgb(48, 4, 54);
    background: white;
}

.button:focus {
    outline: none;
}

#key-features {
    background:rgb(48, 4, 54);
    margin-top: 80px;
    padding: 16px;
}

.key-feature__items {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature__item {
    display: inline-block;
    width: 30%;
}

.key-feature__image {
    background:rgb(201, 162, 206);
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
}

.key-feature__desc {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
    vertical-align: top;
}

#key-features .section-title {
    color: white;
    margin: 32px;
}

/* h1 {
    font-family: sans-serif;
} */

.main-header {
    width: 100%;
    background: rgb(127, 10, 143);
    padding: 10px;
    /* display: ; */
}

.main-div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color:rgb(48, 4, 54);
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 231px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin:  0 16px;
}

.main-nav-item__link {
    color: rgb(48, 4, 54);
    text-decoration: none;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 2px solid white;
}

.main-nav__item--cta a {
    color: white;
    background: rgb(48, 4, 54);
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:hover {
    color: rgb(48, 4, 54);
    background: white;
    border: none;
}

.main-footer {
    background: black;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}